/* Import the font "Dosis" that's used */

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

/* Theme switch */

#themeToggleButton {
    color: var(--font-color);
    background: var(--color-primary);
    padding: 2vh 2vw;
    border-radius: 1vh;
}

#themeButton {
    position: fixed;
    top: 2vh;
    right: 2vh;
}


/* text */

span {
    text-align: center;
    margin: auto;
    cursor: pointer;
}


/* everything on the page */

* {
    box-sizing: border-box;
    font-size: 2.3vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: 0.5s;
}

body,
html {
    background-color: #282C36;
    font-family: Dosis;
    transition: 1s;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    font-size: 100%;
}

#centering_container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* The form */

#center_parent {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-width: 95vw;
}

.left-right_divider {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50%;
    gap: 0px 0rem;
    grid-auto-flow: row;
    grid-template-areas: "left right";
    width: min-content;
    margin: auto;
    padding: 1rem 2.5rem 2rem 2.5rem;
    background-color: #383C46;
    border-radius: 1rem;
}

.left {
    grid-area: left;
    margin: 1rem;
}

.right {
    grid-area: right;
    margin: 1rem;
}

.flex_center_parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex_center_parent legend {
    margin: auto;
    padding: 0 0.5rem;
    color: #ffffff;
}

.flex_center_parent fieldset {
    border-radius: 0.5rem;
    border: #888888 1px solid;
    background-color: #282C36;
}

input {
    width: 400px;
    padding: 0.25rem;
    margin: 0.25rem;
    border-radius: 0.5rem;
    border: 0;
    padding: 0.5rem
}

input[type="text"],
input[type="password"] {
    font-family: Ubuntu;
}

input[type="submit"] {
    font-family: Dosis;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    background-color: #55BA9D;
}

input[type="submit"]:hover {
    background-color: #45AA8D;
}

#status_container {
    position: fixed;
    height: 5vh;
    width: 100%;
    background-color: red;
    top: 0;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#status_container:empty {
    display: none;
}